.addtaskinput {
    border: none;
    margin: 20px;
}

.addtaskinput:focus {
    outline: none;
}

.tableoftask {

}

.tabledata {
color: black;
background: white;
border: none;
border-radius: 5px ;

}