.addtaskinput {
    border: none;
    margin: 20px;
}

.addtaskinput:focus {
    outline: none;
}

.tableoftask {

}

.tabledata {
    margin
color: black;
font-weight: bold;
background: white;
border: none;
border-radius: 5px ;
padding: 15px;
}